body {
    padding: 0;
    margin: 0;
    background: #ff92d0;
}

.conteudo {
    display: flex;
}

.esquerda {
    max-width: 50%;
    width: 40%;
}

.direita {
    max-width: 50%;
    width: 50%;
}

/*direita*/

label {
    display: block;
    color: white;
}

.dir {
    background-color: #131516;
    max-width: 64%;
    padding: 5vh;
    border-radius: 5px;
}

.titulo {
    position: relative;
    width: 300px;
    height: 200px;
}

.titulo, input[class="tit"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ini {
    display: flex;
    position: relative;
    width: 300px;
    margin-top: 10px;
}

.ini, input[class="in"],
input[class="fm"] {
    gap: 20px;
    width: 100%;
    width: 295px;
    box-sizing: border-box;
}

.escolha {
    margin-top: 10px;
}

.local {
    margin-top: 10px;
}

.local, input[class="loc"] {
    width: 100%;
}

.descricao {
    margin-top: 10px;
}

.descricao, input[class="desc"] {
    width: 100%;
}

/*inicio dos temas*/

.perso, p {
    color: white;
}

.cores, input[type="color"] {
    margin-bottom: 10px;
}

.p4,
.s4,
.t4 {
   display: flex;
    width: 460px;
}

.aniv {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
}

.inf {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
}

.form {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
}

.casam {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
}

.p4 img {
    padding: 0.5rem;
}

.bb {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.pan {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.carn {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.pasc {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.s4 img {
    padding: 0.5rem;
}

.joao {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.hall {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.natal {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.outros {
    background: #2D3136;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.t4 img {
    padding: 0.5rem;
}

.tema {
    display: flex;
    gap: 15rem;
}




